<mat-card class="card mat-elevation-z4">
  <mat-card-header>
    <mat-card-title>Help Desk</mat-card-title>
    <mat-card-subtitle>Dicas de um DEV</mat-card-subtitle>
  </mat-card-header>
  <div class="image">
    <img mat-card-image src="assets/img/home-image.svg" alt="Image home Hel Desk">
  </div>
  <mat-card-content>
    <p>
      Olá! Seja bem vindo ao sistema Help Desk desenvolvido por mim no curso Desenvolvedor Full Stack.<br/>
      Esse é um sistema para gerenciamento de chamados simulando um simples Help Desk desenvolvido em Angular 13 e
      Spring Boot. O projeto tem como objetivo principal abordar os conceitos de aplicações SPAs, Autenticação e
      Autorização com
      Tokens JWT e muito mais. O código fonte do projeto pode ser acessado clicando no link Github no menu lateral.
      <br/><br/> Fique a vontade para testar o sistema e deixar sua sugestão.
      <br/> At.te: Bruno Mikael Rodrigues Pereira
    </p>
  </mat-card-content>
</mat-card>
