<div class="container">
  <form class="form mat-elevation-z8">

    <h1>Help Desk - Tecnology</h1>
    <img src="assets/img/login-image.svg" alt="Help Desk - Tecnology">

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>E-mail</mat-label>
      <input matInput placeholder="Ex. fulano123@gmail.com">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Senha</mat-label>
      <input type="password" matInput placeholder="Ex. 12345">
    </mat-form-field>

    <button class="full-width mat-elevation-z8" mat-stroked-button color="accent">Primary</button>
  </form>
</div>
