.container-fluid {
  background: var(--primary-color);
  overflow: auto;
  /* Ensure the scroll is on the container-fluid */
}

.card {
  width: 65% !important;
  max-height: 100%;
  color: var(--third-color);
  background: var(--secondary-color);
  border: 1px solid var(--third-color);
}

.input-email {
  position: relative;
}

.content-apresent {
  border-radius: 5% 0% 0% 39%;
  background-color: var(--third-color);
  color: var(--secondary-color);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--secondary-color) inset;
  -webkit-text-fill-color: var(--third-color) !important;
}

::ng-deep .form-control {
  background: var(--secondary-color);
  color: var(--third-color);
  border: 1px solid var(--third-color);
}

::ng-deep .form-control:focus {
  background: var(--secondary-color);
  color: var(--third-color);
  border: 1px solid var(--third-color);
}

.esqueceu-senha {
  color: var(--third-color);
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

.esqueceu-senha:hover {
  opacity: 0.8;
  transition: 0.3s;
}

.invalid-feedback {
  display: flex;
  position: absolute;
  font-size: 0.700rem;
  color: var(--danger-color);
  top: 100%;
  left: 0;
  margin-top: 0.25rem;
}

.invalid-input {
  border: 1px solid var(--danger-color) !important;
}

@media screen and (max-width: 1024px) {
  .card {
    justify-content: center;
    width: 100% !important;
    height: auto !important;
  }

  .content-apresent {
    display: none !important;
  }
}