<div class="container mat-elevation-z8">
  <form class="form" [formGroup]="clienteForm">
    <h1 class="full-width">Deletar cliente</h1>
    <img class="full-width" src="assets/img/tecnico-create.svg" alt="Help Desk - Technology">

    <mat-form-field class="full-width" appearance="legacy">
      <mat-label>Nome</mat-label>
      <input
        formControlName="nome"
        name="nome"
        matInput/>
      <mat-icon matSuffix>account_circle</mat-icon>
      <mat-hint></mat-hint>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="legacy">
      <mat-label>CPF</mat-label>
      <input
        formControlName="cpf"
        name="cpf"
        matInput/>
      <mat-icon matSuffix>pin</mat-icon>
      <mat-hint></mat-hint>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="legacy">
      <mat-label>E-mail</mat-label>
      <input
        formControlName="email"
        name="email"
        matInput/>
      <mat-icon matSuffix>mail</mat-icon>
      <mat-hint></mat-hint>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="legacy">
      <mat-label>Senha</mat-label>
      <input
        formControlName="senha"
        name="senha"
        matInput
        type="password"/>
      <mat-icon matSuffix>password</mat-icon>
      <mat-hint></mat-hint>
    </mat-form-field>

    <button (click)="delete()" class="full-width mat-elevation-z4" mat-raised-button color="accent">Deletar
    </button>
    <button (click)="voltar()" class="full-width mat-elevation-z4" mat-raised-button color="warn">Cancelar</button>
  </form>
</div>
