<div class="container mat-elevation-z8">
  <h1>Cadastrar chamado</h1>

  <img class="full-width" src="assets/img/tecnico-create.svg" alt="Help Desk - Technology">

  <form name="chamadoForm">
    <mat-form-field class="full-width" appearance="legacy">
      <mat-label>Título do chamado</mat-label>
      <input
        [(ngModel)]="chamado.titulo"
        [formControl]="titulo"
        type="text"
        name="titulo"
        required
        matInput
        placeholder="Ex: Datas de componente estão vindo diferentes"/>
    </mat-form-field>

    <div class="status-prioridade">
      <mat-form-field appearance="outline">
        <mat-label>Selecione um Técnico</mat-label>
        <mat-select
          [(ngModel)]="chamado.tecnico"
          [formControl]="tecnico"
          name="tecnico"
          required>
          <mat-option *ngFor="let tecnico of tecnicos" value="{{ tecnico.id }}">{{ tecnico.nome }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Selecione um Cliente</mat-label>
        <mat-select
          [(ngModel)]="chamado.cliente"
          [formControl]="cliente"
          name="tecnico"
          required>
          <mat-option *ngFor="let cliente of clientes" value="{{ cliente.id }}">{{ cliente.nome }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="status-prioridade">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Selecione uma prioridade</mat-label>
        <mat-select
          [(ngModel)]="chamado.prioridade"
          [formControl]="prioridade"
          name="tecnico"
          required>
          <mat-option value="0">BAIXA</mat-option>
          <mat-option value="1">MÉDIA</mat-option>
          <mat-option value="2">ALTA</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Selecione o status</mat-label>
        <mat-select
          [(ngModel)]="chamado.status"
          [formControl]="status"
          name="status"
          required>
          <mat-option value="0">ABERT0</mat-option>
          <mat-option value="1">ANDAMENTO</mat-option>
          <mat-option value="2">ENCERRADO</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-form-field class="full-width" appearance="legacy">
      <mat-label>Descrição</mat-label>
      <textarea
        type="text"
        name="descricao"
        [(ngModel)]="chamado.observacoes"
        [formControl]="observacoes"
        class="observacoes"
        required
        matInput
        placeholder="Ex: Ocorreu um bug no sistema etc..."></textarea>
    </mat-form-field>
  </form>

  <button
    (click)="create()"
    [disabled]="!validarCampos()"
    type="submit"
    class="full-width mat-elevation-z4" mat-raised-button
    color="accent">Salvar
  </button>
  <button
    type="button"
    (click)="voltar()"
    class="full-width mat-elevation-z4" mat-raised-button color="warn">Cancelar
  </button>
</div>
